button {
  border: none;
}
input:focus, select:focus {
  outline: none;
}

.hero {
  background-image: url(./heroSection.jpg);
  /* height: 100vh; */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
